
.app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app-main {
    display: flex;
    flex: 1;
}

app-navigation, app-header, app-dashboard {
    padding: 8px;
}

app-header {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    background: #1976D2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
}

app-navigation {
    background: rgba(236,239,241,0.56);
    box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}

 app-dashboard {
    display: flex;
    flex: 1;
}

.tab-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
}

.tab-container > p-tabmenu {
    border-bottom: 1px solid rgba(207,216,220,0.56);
}